body {
  background-color: #0A0A0A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Verdana', sans-serif;
  color: white;
}
